<!DOCTYPE html>
<html>
<head>
<title>With Vue JS</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
</head>
<body>


<div id="app" style="margin:20px;">    
    <h3>Custom Events example</h3>
    <h4>Counter: {{ total }}</h4>    
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    
    <hr>
    
    <h3>Selected Role:<span style="color:blue"> {{ role }}</span></h3> 
    <option-role v-on:selected="selectedRole"></option-role>

    <hr>

    <h3>My ToDo List</h3>
    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
    <ul>
        <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="index" v-bind:title="todo"
        v-on:remove="todos.splice(index, 1)"></li>
    </ul>

    <hr>
    <h3>Non-Parent-Child-Communication</h3>
    <component-a></component-a>
    <component-b></component-b>
</div>

<script>
    var bus = new Vue()

    var app = new Vue({
        el:"#app",
        data:{ 
            total:0,
            role:'',
            newTodoText: '',
            receivedMessage:'',
            todos: ['My default Task', 'Take out the trash']
        },
        methods:{
            incrementTotal: function(){
                this.total +=1;
            },
            selectedRole: function(value){
                this.role = value;
            },
            addNewTodo: function () {
                console.log(this.newTodoText);
                this.todos.push(this.newTodoText);
                this.newTodoText = '';
            }
        },
        components:{
            'button-counter':{
                template: '<button class="btn btn-info" v-on:click="increment">{{ counter }}</button>',
                data: function () {
                    return {
                        counter: 0
                    }
                },
                methods: {
                        increment: function () {
                        this.counter += 1
                        this.$emit('increment')
                    }
                }
            },
            'option-role':{                
                template : `<select v-model="selected" v-on:change="onChange">
                                <option disabled value="">Please select role</option>
                                <option>Software Eng.</option>
                                <option>Business Analyst</option>
                                <option>Operation Manager</option>
                            </select>`,
                data:function(){
                    return {selected:''};
                },
                methods:{
                    onChange: function(){
                        console.log(this.selected)
                        this.$emit('selected', this.selected);
                    }
                },                
            },
            'todo-item':{
                template: '\
                            <li>\
                            {{ title }}\
                            <button v-on:click="$emit(\'remove\')">X</button>\
                            </li>\
                        ',
                props: ['title']
                },
            'component-a':{
                template: `<div>
                            <input type="text" v-model="aValue">
                            <button type="button" v-on:click="send">Send Message</button></div>`,
                data:function(){
                    return {aValue:''};
                },
                methods:{
                    send: function(){
                        console.log(this.aValue)
                        this.$emit('aValue', this.aValue)
                    }
                }
            },
            'component-b':{
                template:`<div>{{receivedMessage}}</div>`,
                data:function(){
                    return {receivedMessage:''};
                },
                methods:{
                    function(){
                        this.$on();
                    }
                }
            }
        }
       
    })     
</script>
</body>
</html>